In [1]:
# paths
## 1. Code
myCodePath = "helper_files"
## 2. Data
myDataPath = "data"
import sys
sys.path.append(myCodePath)

import os
import glob
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)

from time import time
from IPython.core.display import display, HTML, Markdown
from html import escape

import matplotlib.pyplot as plt
import seaborn as sns
import seaborn as sb
from pprint import pprint

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
if True:
    from formattingWidth import formatting_width, hideCode
    from myHTML import Todo
    # hide code
    hideCode()
    # set HTML formatting
    formatting_width()
    
    from formatting_width import formatting_width
    formatting_width()
    my_todo = Todo()
    my_todo

In [3]:
import calendar
day_order = [day for day in calendar.day_name]
month_order = [mon for mon in calendar.month_name][1:]

day_order

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [4]:
all_files = glob.glob(os.path.join(myDataPath , "*.csv") )

dfs = {f.split("/")[-1].replace(".csv",""): pd.read_csv(f, low_memory=False) for f in all_files if "csv" in f}

In [5]:
dfs.keys()

dict_keys(['seattle_reviews', 'boston_calendar', 'boston_listings', 'boston_reviews', 'seattle_calendar', 'seattle_listings'])

In [6]:
# add city key to each dataframe
for key in dfs.keys():
    if "boston" in key:
        dfs[key]['city_merge'] = "Boston"
    else:
        dfs[key]['city_merge'] = "Seattle"

In [7]:
# concatenate the relevant datafiles
calendar = pd.concat([dfs[key] for key in dfs.keys() if 'calendar' in key]).reset_index(drop=True)        
listings = pd.concat([dfs[key] for key in dfs.keys() if 'listings' in key]).reset_index(drop=True)          
reviews = pd.concat([dfs[key] for key in dfs.keys() if 'reviews' in key]).reset_index(drop=True)

In [28]:
df = listings.merge(calendar, left_on='id', right_on='listing_id')

In [29]:
df = df.merge(reviews, left_on='id', right_on='listing_id')

In [30]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id_x,55890260.000,3787517.465,3248150.646,3353.000,1071843.000,3139972.000,5958674.000,14843783.000
scrape_id,55890260.000,20160461707521.484,398744742.836,20160104002432.000,20160104002432.000,20160104002432.000,20160906204935.000,20160906204935.000
host_id,55890260.000,11597022.337,13542395.172,4193.000,1697505.000,6592975.000,17644043.000,92878185.000
host_listings_count,55890260.000,8.522,46.101,1.000,1.000,2.000,4.000,749.000
host_total_listings_count,55890260.000,8.522,46.101,1.000,1.000,2.000,4.000,749.000
latitude,55890260.000,45.269,2.629,42.236,42.346,47.563,47.625,47.733
longitude,55890260.000,-99.481,25.476,-122.417,-122.335,-122.294,-71.079,-71.000
accommodates,55890260.000,3.074,1.768,1.000,2.000,2.000,4.000,16.000
bathrooms,55388750.000,1.181,0.458,0.000,1.000,1.000,1.000,8.000
bedrooms,55716155.000,1.170,0.712,0.000,1.000,1.000,1.000,7.000
beds,55849015.000,1.576,0.981,0.000,1.000,1.000,2.000,16.000
square_feet,2202775.000,659.566,506.148,0.000,200.000,650.000,800.000,3000.000
price_x,55890260.000,125.971,83.935,11.000,75.000,99.000,150.000,1300.000
guests_included,55890260.000,1.656,1.152,0.000,1.000,1.000,2.000,14.000
minimum_nights,55890260.000,2.053,7.910,1.000,1.000,2.000,2.000,1000.000
maximum_nights,55890260.000,112301.607,3339881.583,1.000,30.000,1125.000,1125.000,99999999.000
availability_30,55890260.000,13.393,10.777,0.000,3.000,12.000,23.000,30.000
availability_60,55890260.000,31.724,20.795,0.000,12.000,33.000,51.000,60.000
availability_90,55890260.000,53.361,29.356,0.000,32.000,59.000,80.000,90.000
availability_365,55890260.000,249.597,118.014,0.000,153.000,305.000,346.000,365.000
number_of_reviews,55890260.000,85.910,81.052,1.000,28.000,60.000,117.000,474.000
review_scores_rating,55859235.000,93.721,5.203,20.000,92.000,95.000,97.000,100.000
review_scores_accuracy,55849380.000,9.603,0.588,2.000,9.000,10.000,10.000,10.000
review_scores_cleanliness,55853760.000,9.486,0.739,2.000,9.000,10.000,10.000,10.000
review_scores_checkin,55850475.000,9.795,0.450,2.000,10.000,10.000,10.000,10.000
review_scores_communication,55854490.000,9.797,0.443,2.000,10.000,10.000,10.000,10.000
review_scores_location,55850475.000,9.494,0.641,2.000,9.000,10.000,10.000,10.000
review_scores_value,55850840.000,9.383,0.620,2.000,9.000,9.000,10.000,10.000
license,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
calculated_host_listings_count,55890260.000,3.553,7.904,1.000,1.000,1.000,3.000,136.000
reviews_per_month,55890260.000,3.637,2.329,0.010,1.850,3.250,5.070,19.150
listing_id_x,55890260.000,3787517.465,3248150.646,3353.000,1071843.000,3139972.000,5958674.000,14843783.000
listing_id_y,55890260.000,3787517.465,3248150.646,3353.000,1071843.000,3139972.000,5958674.000,14843783.000
id_y,55890260.000,40342403.391,24778885.874,1021.000,20620259.750,38463998.000,53978187.500,99990454.000
reviewer_id,55890260.000,21922545.048,18815973.406,15.000,6342335.750,17552614.000,32977175.500,93350341.000

In [17]:
df["price"] = df.price.str.replace("$","").str.replace(",","").astype(float)

In [18]:
df.groupby("city_merge").price.mean()

city_merge
Boston    127.976
Seattle   173.926
Name: price, dtype: float64

              city_merge
              Boston    127.976
              Seattle   173.926
              Name: price, dtype: float64

In [25]:
calendar.describe().T

,count,mean,std,min,25%,50%,75%,max
listing_id,2702460.000,6950804.935,4052439.852,3335.000,3865312.750,7035369.000,9504211.250,14933461.000

In [24]:
listings.describe().T

,count,mean,std,min,25%,50%,75%,max
id,7403.000,6950001.477,4052396.781,3335.000,3864099.500,7035240.000,9500804.000,14933461.000
scrape_id,7403.000,20160492479528.875,400929617.508,20160104002432.000,20160104002432.000,20160104002432.000,20160906204935.000,20160906204935.000
host_id,7403.000,20210534.866,19623093.346,4193.000,4343163.500,14486505.000,30283594.000,93854106.000
host_listings_count,7401.000,32.223,123.585,0.000,1.000,1.000,4.000,749.000
host_total_listings_count,7401.000,32.223,123.585,0.000,1.000,1.000,4.000,749.000
latitude,7403.000,45.068,2.644,42.236,42.346,47.543,47.624,47.733
longitude,7403.000,-97.515,25.613,-122.417,-122.331,-122.276,-71.080,-71.000
accommodates,7403.000,3.200,1.890,1.000,2.000,2.000,4.000,16.000
bathrooms,7373.000,1.241,0.549,0.000,1.000,1.000,1.000,8.000
bedrooms,7387.000,1.283,0.823,0.000,1.000,1.000,2.000,7.000
beds,7393.000,1.674,1.081,0.000,1.000,1.000,2.000,16.000
square_feet,153.000,856.026,647.190,0.000,420.000,770.000,1200.000,3000.000
price,7403.000,150.228,124.020,10.000,79.000,120.000,190.000,4000.000
guests_included,7403.000,1.555,1.201,0.000,1.000,1.000,2.000,15.000
minimum_nights,7403.000,2.758,13.244,1.000,1.000,2.000,3.000,1000.000
maximum_nights,7403.000,14313.369,1162232.130,1.000,95.500,1125.000,1125.000,99999999.000
availability_30,7403.000,12.846,12.070,0.000,0.000,10.000,26.000,30.000
availability_60,7403.000,29.560,23.839,0.000,1.000,31.000,55.000,60.000
availability_90,7403.000,48.628,35.013,0.000,7.000,56.000,84.000,90.000
availability_365,7403.000,213.089,138.343,0.000,77.000,259.000,347.000,365.000
number_of_reviews,7403.000,20.684,36.733,0.000,1.000,7.000,23.000,474.000
review_scores_rating,5943.000,93.316,8.207,20.000,91.000,96.000,99.000,100.000
review_scores_accuracy,5922.000,9.541,0.822,2.000,9.000,10.000,10.000,10.000
review_scores_cleanliness,5932.000,9.417,0.999,2.000,9.000,10.000,10.000,10.000
review_scores_checkin,5925.000,9.721,0.682,2.000,10.000,10.000,10.000,10.000
review_scores_communication,5934.000,9.734,0.657,2.000,10.000,10.000,10.000,10.000
review_scores_location,5926.000,9.518,0.775,2.000,9.000,10.000,10.000,10.000
review_scores_value,5926.000,9.320,0.893,2.000,9.000,9.000,10.000,10.000
license,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
calculated_host_listings_count,7403.000,7.686,21.466,1.000,1.000,1.000,3.000,136.000
reviews_per_month,6020.000,2.028,1.969,0.010,0.590,1.370,2.890,19.150

In [23]:
reviews.describe().T

,count,mean,std,min,25%,50%,75%,max
listing_id,153124.000,3787517.465,3248161.224,3353.000,1071843.000,3139972.000,5958674.000,14843783.000
id,153124.000,40342403.391,24778966.564,1021.000,20620259.750,38463998.000,53978187.500,99990454.000
reviewer_id,153124.000,21922545.048,18816034.678,15.000,6342335.750,17552614.000,32977175.500,93350341.000

In [11]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,city_merge
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...,Seattle
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...,Seattle
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...,Seattle
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...,Seattle
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...,Seattle